    

@@include('./head.html')

<body class="advice_and_information">
    @@include('./header.html')


    <section class="intro">
        <div class="row">
            <h1>ADVICE AND INFORMATION</h1>
            <p>Here, you can access advice and information about the different types of services we offer. You can also understand more about our partnerships, projects and campaigns, find out how you can stay safe and get the help and support you need if you’ve been affected by crime.</p>
        </div>
    </section>

    <section class="people clearfix">
        <div class="row">
            <div class="aboutusnewsgrid">

                <div class="tile item">
                    <div class="inner">
                        <h1>Animal crime</h1>
                        <p>Wildlife and animal crime can be a complex area. Animal cruelty occurs when someone doesn’t care for or deliberately hurts an animal. It includes physical violence, not feeding or cleaning an animal, deliberate mental distress or neglect. We work with the RSPCA to investigate cases of animal cruelty.</p>  

                        <p>If you see or suspect that an animal is being mistreated or neglected, please report this to the RSPCA’s 24-hour cruelty line.</p>   
                    </div>             
                </div>

                <div class="tile item">
                    <div class="inner">
                        <h1>Child abuse</h1>
                        <p>If anyone under the age of 18 is either being harmed or not being properly looked after, it constitutes child abuse. Physical abuse, emotional abuse, sexual abuse and neglect are the four main categories of child abuse. We can help you find out more about each of these categories, as well as figure out the warning signs if a child is being abused, what you can do if you are worried about the safety and well-being of a child and different ways you can get in touch.
                        </p>
                        <p>If you suspect someone is in immediate danger, call us on 999 now.</p>
                    </div>             
                </div>

                <div class="tile item">
                    <div class="inner">
                        <h1>Domestic abuse</h1>
                        <p>Domestic abuse affects people in many different ways. We can help you to find out what is classified as domestic abuse, how you can report it and even find out if a person has a history of domestic violence or abuse. We focus on protecting you and any children you have as our priority. </p>
                        <p>If you are a victim of domestic abuse, or know someone who is, please call 999 now.</p>
                    </div>                   
                </div>

                <div class="tile item">
                    <div class="inner">
                        <h1>Events and processions</h1>
                        <p>For some events and processions held each year across the country, the law requires organisers to notify us in advance. Whether it’s a festival, show, demonstration or a march, we work with the community to make sure things work as planned. For different events and processions, we undertake risk assessments and look at ways of preventing breaches of peace and minimising serious disruption to the wider community. You can find out about how we help in the planning and policing of events and, if you’re organising an event, whether you need to notify us. 
                        </p>
                    </div>                  
                </div>

                <div class="tile item">
                    <div class="inner">
                        <h1>Hate crime</h1>
                        <p>With your help, we can deal with those responsible for hate crime and help to keep you and your communities safe. Hate crime can hit communities in different ways. We're here and ready to help if anyone has been affected by prejudice, ignorance or violence. 
                        </p>
                        <p>
                            You can help to spot a hate crime, report it, or get help, support and advice – both online and in your community.
                        </p>
                    </div>                   
                </div>

                <div class="tile item">
                    <div class="inner">
                        <h1>Watch schemes </h1>
                        <p>Neighbourhood Watch is about people getting together with their neighbours to take action to reduce crime. Pub Watch schemes are local, independent groups formed of people working in licensed premises, while Country Watch schemes connect those living and working in rural parts of the country. Many of these schemes help us to cut crime and the opportunities for crime; they help and reassure those who live in the area and encourage neighbourliness and closer communities. </p>
                        <p>You can contact your local Watch Administrator for more information on how these schemes work, the benefits of the schemes and advice on running a scheme in your local area.</p>
                    </div>                  
                </div>
            </div>
        </div>
    </section>



    @@include('./footer.html')

    <script src="assets/js/script.js"></script>

</body>
</html>
