    

@@include('./head.html')

<body class="bravery_awards">
    @@include('./header.html')


    <section class="intro">
        <div class="row">
            <h1>GPS on Good morning Grandton</h1>
            <p>Two GPS officers were recently interviewed on a local magazine programme watched throughout the wider Grandton area, regarding their professional heroism.</p>
        </div>
    </section>
    <section class="contacts clearfix">
        <div class="row">
            <video controls>
                <source src="assets/files/Bravery_awards_interview_lo_web.mp4" type="video/mp4">
                Your browser does not support the <code>video</code> tag.
            </video>
            <a href="assets/files/GPS - Bravery Awards.pdf">Transcript </a>
            <p>Click on the video to see Good Morning Grandton talk to PC Shap and PC Amari about their recognition at the Total Excellence in Policing Awards.</p>
        </div>
    </section>


    @@include('./footer.html')

    <script src="assets/js/script.js"></script>

</body>
</html>
