    

@@include('./head.html')

<body class="Careers_with_GPS">
    @@include('./header.html')


    <section class="intro">
        <div class="row">


            <h1>CAREERS WITH GPS</h1>



            <p>Grandton is one of the most exciting and diverse cities in the world – and policing it is no easy task. It takes a huge number of people from all sorts of different backgrounds with a wide range of skills and experience. Do you have what it takes to be one of them? Find out if a career with the GPS is just the change you’re looking for, and what kind of challenges, experiences and rewards you could have in store.</p>

        </div>
    </section>

    <section class="rand1 clearfix">
        <div class="row">
            <p>Pick up more information or an application from your local police station, and find out if you have what it takes to keep Grandton safe.</p>
            <img src="assets/css/shutterstock_649385926.jpg" alt=""/>
        </div>
    </section>



    @@include('./footer.html')

    <script src="assets/js/script.js"></script>

</body>
</html>
