    

@@include('./head.html')

<body class="child_protection">
    @@include('./header.html')


    <section class="intro">
        <div class="row">
            <h1>Safeguarding and Collaboration Challenges</h1>
            <p>This is a Radio Grandton 105FM interview. The interviewees are Andrea Bottomly, Children’s Commissioner and Graham Phelps, Deputy Assistant Commissioner from Grandton Police.</p>

            <audio controls>
                <source src="assets/files/Child_protect_radio_interview.mp3" type="audio/mpeg">
                Your browser does not support the <code>audio</code> tag.
            </audio>
            <a href="assets/files/Child Protection Radio interview.pdf">Transcript </a>
        </div>
    </section>
    <section class="children">
        <div class="row">           
            <p> Grandton 105FM with Jenny Maythorpe</p>
        </div>
    </section>




    @@include('./footer.html')

    <script src="assets/js/script.js"></script>

</body>
</html>
