    

@@include('./head.html')

<body class="contact">
    @@include('./header.html')


    <section class="intro">
        <div class="row">
            <h1>Contact US</h1>

        </div>
    </section>
    <section class="contacts clearfix">
        <div class="row">
            <div class="left">
                <h1>GPS Operational Headquarters</h1>
                <p>Grandton Embankment, <br />
                    Grandton <br />
                    GR1 L4L</p>
            </div>


            <div class="right">
                <h2>999</h2>
                <p>Emergency calls</p>

                <h2>18000</h2>
                <p>Accessibility text phone</p>

                <h2>101</h2>
                <p>Non-emergency calls</p>

                <h2>18001 101</h2>
                <p>Accessibility text phone</p>
            </div>

        </div>
    </section>




    @@include('./footer.html')

    <script src="assets/js/script.js"></script>

</body>
</html>
