@@include('./head.html')

<body class="Status">
    @@include('./header.html')

    <section class="Status">
        <div class="row">
            <img src="assets/files/img/GPS Culture_blueprint_1.jpg" alt="Status Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/GPS Culture_blueprint_2.jpg" alt="Status Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/GPS Culture_blueprint_3.jpg" alt="Status Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/GPS Culture_blueprint_4.jpg" alt="Status Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/GPS Culture_blueprint_5.jpg" alt="Status Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/GPS Culture_blueprint_6.jpg" alt="Status Page" srcset="">
        </div>
    </section>


    </section>
    @@include('./footer.html')

    <script src="assets/js/script.js"></script>

</body>

</html>