@@include('./head.html')

<body>
    @@include('./header.html')

    <div class="homeslider">
        <div class="item">
            <img src="assets/css/sliderimg1.jpg" alt="" />

        </div>
        <div class="item">
            <img src="assets/css/sliderimg2.jpg" alt="" />

        </div>

        <div class="item">
            <img src="assets/css/sliderimg3.jpg" alt="" />

        </div>
    </div>

    <section class="hometiles">
        <div class="row">
            <div class="homegrid clearfix">
                <div class="tile item">
                    <h1>ADVICE AND INFORMATION</h1>
                    <p>Any incidents reported online will be processed in the same manner as telephone calls.</p>
                    <a href="advice_and_information.html">FIND OUT MORE</a>
                </div>

                <div class="tile item">
                    <h1>CAREERS WITH GPS</h1>
                    <p>Find out if a career with the GPS is just the change you’re looking for...</p>
                    <a href="Careers_with_GPS.html">FIND OUT MORE</a>
                </div>
            </div>
        </div>
    </section>


    <section class="findpolice clearfix">

        <div class="left">
            <div class="item">
                <div class="inner">
                    <h1>REPORT AN INCIDENT</h1>
                    <p>Any incidents reported online will be processed in the same manner as telephone calls</p>
                    <a href="report_an_incident.html">FIND OUT MORE</a>
                </div>
            </div>
        </div>

        <div class="right">

            <div class="item">
                <div class="inner">
                    <h1> CURRENT THREAT LEVEL IN <br />THE UK</h1><br />
                    <p> The current threat level in the UK from international terrorism is <b>severe</b>. That means
                        that a terrorist attack is highly likely.</p>
                    <br />
                    <p>The threat to Great Britain from Northern Irish terrorism is <b>moderate</b>. This means that a
                        terrorist attack is possible, but not likely.</p>





                    <!--                    <div class="my-form">
                                            <input id="my-input" type="text">
                                        </div>
                    
                                        <select>
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="mercedes">Mercedes</option>
                                            <option value="audi">Audi</option>
                                        </select> -->
                </div>
            </div>
        </div>

    </section>

    <section class="homenews clearfix">
        <div class="row">
            <h1>NEWS</h1>
            <div class="homenewsgrid clearfix">
                <div class="tile item">
                    <img src="assets/css/News_btn_1.png" alt="" />
                    <p class="subtitle">The Grandton Independence</p>

                    <div class="inner">
                        <h1>Celebration Certain to be Short-Lived</h1>
                        <p>The new GPS commissioner’s in-tray shows an array of big challenges, with some...</p>
                        <a href="the_independence.html"></a>
                    </div>
                </div>

                <div class="tile item">
                    <img src="assets/css/News_btn_2.png" alt="" />
                    <p class="subtitle">The Grandton Daily Times</p>
                    <div class="inner">
                        <h1>Open <br /> Letter</h1>
                        <p>Dear Grandton Police Service (GPS), According to the HMIC Policing...</p>
                        <a href="open_letter.html"></a>
                    </div>
                </div>
                <div class="tile item">
                    <img src="assets/css/News_btn_3.png" alt="" />
                    <p class="subtitle">The Grandton Daily Telegraph</p>
                    <div class="inner">
                        <h1>So Eugene, When Is All The Killing Going To Stop?</h1>
                        <p>This morning, two families will wake, if indeed they have slept at all...</p>
                        <a href="so_eugene.html"></a>
                    </div>
                </div>
                <div class="tile item">
                    <img src="assets/css/News_btn_4.png" alt="" />
                    <p class="subtitle">Good Morning Grandton</p>
                    <div class="inner">

                        <h1>Bravery awards</h1>

                        <p>Two GPS officers were recently interviewed on a local magazine programme.</p>
                        <a href="bravery_awards.html"></a>
                    </div>

                </div>
                <div class="tile item">
                    <img src="assets/css/News_btn_5.png" alt="" />
                    <p class="subtitle">Radio Grandton 105 FM</p>
                    <div class="inner">
                        <h1>CHILD PROTECTION</h1>
                        <p>Radio Grandton 105FM interview. The interviewees are Andrea Bottomly (Children’s
                            Commissioner) and a DAC from GPS.</p>
                        <a href="child_protection.html"></a>
                    </div>
                </div>
            </div>
        </div>



        <div class="cover">
            <img src="assets/css/popup.png" alt="" />
        </div>

    </section>






    @@include('./footer.html')

    <script src="assets/js/script.js"></script>

</body>

</html>