@@include('./head.html')

<body class="MPP_draft_Plan_2020-24">
    @@include('./header.html')

    <section class="MPP_draft_Plan_2020-24">
        <div class="row">
            <img src="assets/files/img/MPP_draft_Plan_2020-24_1.jpg" alt="MPP_draft_Plan_2020-24 Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/MPP_draft_Plan_2020-24_2.jpg" alt="MPP_draft_Plan_2020-24 Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/MPP_draft_Plan_2020-24_3.jpg" alt="MPP_draft_Plan_2020-24 Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/MPP_draft_Plan_2020-24_4.jpg" alt="MPP_draft_Plan_2020-24 Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/MPP_draft_Plan_2020-24_5.jpg" alt="MPP_draft_Plan_2020-24 Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/MPP_draft_Plan_2020-24_6.jpg" alt="MPP_draft_Plan_2020-24 Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/MPP_draft_Plan_2020-24_7.jpg" alt="MPP_draft_Plan_2020-24 Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/MPP_draft_Plan_2020-24_8.jpg" alt="MPP_draft_Plan_2020-24 Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/MPP_draft_Plan_2020-24_9.jpg" alt="MPP_draft_Plan_2020-24 Page" srcset="">
        </div>
    </section>

    </section>
    @@include('./footer.html')

    <script src="assets/js/script.js"></script>

</body>

</html>