<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Open Letter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./assets/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body class="open_letter">
        <div class="black">
            <img src="assets/css/dailytimes_logo.png" alt=""/> 
        </div>
        <br /><br />
        <hr />
        <div class="row">
            <h1>Open Letter</h1>
            <hr />
            <br />
            4 days ago 
            <br />
            <br />
            <img src="assets/css/policepic.jpg" alt=""/>
            <div class="grey">

                <img src="assets/css/grey.jpg" alt=""/> 
            </div>
            <div class="add2">
              
                <img src="assets/files/Gifs/Open Letter, printed in The Daily Times newspaper_ad1.gif" alt=""/>
                <img src="assets/files/Gifs/Open Letter, printed in The Daily Times newspaper_ad2.gif" alt=""/>
            </div>
        </div>
    </body>
    <link href="./assets/css/style.css" rel="stylesheet" type="text/css">
</html>
