    

@@include('./head.html')

<body class="products">
    @@include('./header.html')


    <section class="intro clearfix">
        <div class="row">
            <div class="floatleft">
                <h1>OUR PRODUCTS</h1>
                <p>Inala places a strong emphasis on product technology, and it has continued to incorporate various proprietary performance technologies into its products, focusing on cushioning, stability, and lightweight features in shoes and on comfort and moisture management in apparel products. As part of the firm's commitment to offer leading footwear technologies, employees working in its state-of-the-art product development facility research, design, and develop technologically advanced athletic and fitness footwear. Inala has product development centers in China, Taiwan, and Indonesia to more closely integrate development activities with production.</p>
            </div>
            <div class="shoe">

            </div>
        </div>

        <div class="tianggles">

        </div>
    </section>
    <section class="shoes clearfix">
        <div class="shoeleft">
            <img src="assets/css/shoe3.png" alt=""/>
        </div>
        <div class="shoeright">
            <div class="textwrap">
                <h2>SHOES</h2>
                <p>Inala's most significant shoe technologies are TrailStep, Boost, and SnowStep. TrailStep technology provides superb support for off-road runners and utilizes a heel-to-forefoot, active-motion system that ensures smooth foot plants and good traction. Originally introduced in 1975, Inala has enhanced and expanded this technology by developing multiple versions of TrailStep to meet the performance demands of various activities, taking into account performance attributes, aesthetics, and price among the various versions. SnowStep, introduced in 2006, is the newest incarnation of TrailStep technology, utilizing a newly developed rubber compound to give excellent traction on snow and ice, while providing new, lightweight insulation for warmth during cold weather training.</p>
            </div>
        </div>
    </section>
    <section class="apparel clearfix">
        <div class="row2">
            <h2>APPAREL</h2>
            <p>Inala has incorporated advanced technologies into certain apparel products with the Sweatless moisture-management system. This moisture-wicking technology helps keep wearers dry, which facilitates regulation of body temperature. Inala's Sweatless Apparel product line was introduced three years ago to incorporate this technology. While intended for runners, the product line has drawn significant interest from college football, basketball, and soccer programs, as well as from emergency responders including fire and police departments.
            </p>
        </div>
    </section>
    <section class="SERVICE clearfix">
        <div class="row">
            <div class="wrap2">
                <h2>SERVICE</h2>
                <p>At Inala, we maintain a comprehensive staff of customer service representatives at both the wholesale and retail level who are dedicated to making sure that our resellers and customers understand the features of our footwear and are happy with their purchases.</p>
            </div>
        </div>
    </section>
    @@include('./footer.html')

    <script src="assets/js/script.js"></script>

</body>
</html>
