    

@@include('./head.html')

<body class="report_an_incident">
    @@include('./header.html')


    <section class="intro">
        <div class="row">
            <h1>REPORT AN INCIDENT</h1>

            <p>If you've witnessed or been the victim of crime, please refer to the options below.</p>
        </div>
    </section>

    <section class="people clearfix">
        <div class="row">
            <div class="aboutusnewsgrid">

                <div class="tile item">
                    <div class="inner">
                        <h1>REPORT A CRIME</h1>
                        <p>You can report a crime to us via your local police station, or by phone or email. If you feel you are in danger or the situation is an emergency, please dial 999.
</p>     
                    </div>             
                </div>

                <div class="tile item">
                    <div class="inner">
                        <h1>ANTISOCIAL BEHAVIOUR</h1>
                        <p>Does it feel like the situation could get heated or violent very soon? Is someone in immediate danger? Do you need support right away? If so, please call 999 now.</p>     
                    </div>             
                </div>

                <div class="tile item">
                    <div class="inner">
                        <h1>MISSING PERSON</h1>
                        <p>If the missing person is in immediate danger, is a young child or vulnerable to harm, call 999 now.</p>
                    </div>                   
                </div>

                <div class="tile item">
                    <div class="inner">
                        <h1>ROAD TRAFFIC INCIDENTS</h1>
                        <p>If a crime is happening now or someone is in immediate danger, call 999.</p>
                    </div>                  
                </div>

                <div class="tile item">
                    <div class="inner">
                        <h1>LOST OR STOLEN VEHICLES </h1>
                        <p>Unless you have reason to believe your car has been stolen, please call TRACE on 0300 123 2040.</p>
                    </div>                   
                </div>

                <div class="tile item">
                    <div class="inner">
                        <h1>LOST OR STOLEN PROPERTY</h1>
                        <p>If you've lost or found property in a public place, we may be able to help. Contact us via your nearest police station and we'll reply to you within 24 hours with an update.</p>
                    </div>                  
                </div>
            </div>
        </div>
    </section>



    @@include('./footer.html')

    <script src="assets/js/script.js"></script>

</body>
</html>
