@@include('./head.html')

<body class="Staff Survey">
    @@include('./header.html')

    <section class="Staff Survey">
        <div class="row">
            <img src="assets/files/img/Staff Survey_1.jpg" alt="Staff Survey Page" srcset="">
        </div>
        <div class="row">
            <img src="assets/files/img/Staff Survey_2.jpg" alt="Staff Survey Page" srcset="">
        </div>
    </section>


    </section>
    @@include('./footer.html')

    <script src="assets/js/script.js"></script>

</body>

</html>