    

@@include('./head.html')

<body class="who_we_are">
    @@include('./header.html')


    <section class="intro">
        <div class="row">
            <h1>who we are</h1>
            <p>Grandton Police Service, commonly referred to as GPS, is the largest police force in the country, with 49,600 staff, comprising of 31,000 sworn police officers, 8,900 police staff and 1,600 non-sworn police community support officers (PCSO’s). GPS serves a 9.1 million population across 30 boroughs.</p>
        </div>
    </section>

    <section class="people clearfix">
        <div class="row">
            <h1>GRANDTON TEAM STRUCTURE</h1>
            <p>Both police officers and police staff work together to ensure the effective and efficient running of the force. <a href="assets/files/Structure.pdf">Structure.pdf</a></p>
            
             
            <br />
            <div class="aboutusnewsgrid">
                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Commissioner</div>
                        <p>Eugene Scott-King</p>
                    </div>
                </div>

            </div>

            <div class="aboutusnewsgrid">

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Assistant Commissioner, Division of Community Policing</div>
                        <p>Michael Tiplady</p>
                    </div>
                </div>
                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Assistant Commissioner, Division of Operations Policing</div>
                        <p>Nigel Crowthorne</p>
                    </div>
                </div>
                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Assistant Commissioner, Specialist Policing</div>
                        <p>Samantha Ball</p>
                    </div>
                </div>
                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Head of GPS Support Services</div>
                        <p>Carl Saunders</p>
                    </div>
                </div>

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Deputy Assistant Commissioner</div>
                       
                    </div>
                </div>

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Deputy Assistant Commissioner</div>
                        
                    </div>
                </div> 

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Deputy Assistant Commissioner</div>
                    </div>
                </div>

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Directors, Legal, Finance, Communications, People, Technology</div>
                    </div>
                </div>                

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Regional Commanders</div>
                    </div>
                </div>

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Regional Commanders</div>
                    </div>
                </div>

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Specialism Commander</div>
                    </div>
                </div>

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Heads of Function</div>
                    </div>
                </div>

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Chief Superintendents Local Policing Units</div>
                    </div>
                </div>

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Chief Superintendents Operational Policing Units</div>
                    </div>
                </div>

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Chief Superintendents Specialist Policing Units</div>
                    </div>
                </div>

                <div class="tile item">
                    <img src="assets/css/avatar2.png" alt=""/>
                    <div class="inner"> 
                        <div class="title">Senior Functional Specialists</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--    <section class="down">
        <div class="row">
            <h1>GPS’S VISION AND SUCCESSES</h1>
            <p>Below are a number of commissioned reports and documents that outline GPS’s future strategic vision as well as our current successes and challenges. Click on each button to read the documents in full.</p>
            <div class="whitebox">

                <div class="item">
                    MMP Draft Survey Plan 2020-2024
                    <div class="downicon"><a href="assets/files/20X0_Q1_ConsolidatedReport.pdf" target="_blank"><img src="assets/css/download-icon.png" alt=""/></a></div>
                    <div class="filesize">PDF (0.55MB)</div>
                </div>
                <div class="item">
                    GPS Cultural Blueprint
                    <div class="downicon"><a href="assets/files/20X0_Q2_ConsolidatedReport.pdf" target="_blank"><img src="assets/css/download-icon.png" alt=""/></a></div>
                    <div class="filesize">PDF (0.56MB)</div>
                </div>
                <div class="item">
                    Staff survey
                    <div class="downicon"><a href="assets/files/20X0_Q3_ConsolidatedReport.pdf" target="_blank"><img src="assets/css/download-icon.png" alt=""/></a></div>
                    <div class="filesize">PDF (0.53MB)</div>
                </div>


            </div>

        </div>
        <div class="tianggles"></div>
    </section>-->

    @@include('./footer.html')

    <script src="assets/js/script.js"></script>

</body>
</html>
