
<div class="footer clearfix">

    <p>The material provided is for educational purposes only. Whilst the material in this eLearning has been carefully prepared by the authors, it is an example and not tailored to or based on any particular case or individual. It may be used as a guide but it is not a substitute for current guidelines/evidence and expert opinion in relation to decision making in professional practice. </p>
    <p>   
        MPS and the authors of the eLearning program do not make any express or implied representation or warranty in relation to the completeness, accuracy, suitability or currency of the information provided. These persons are not liable in contract, tort (including negligence) or otherwise, for any direct, indirect, special or consequential loss or damages arising in connection with the use or reliance upon the information contained in this eLearning program, or any products or services referred to herein.
    </p>

</div>