<!doctype html>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />

<!DOCTYPE html>
<html>
    <head>
        <title>Grandton website</title>
        <meta charset="utf-8">
        <meta name="description" content="MET Grandton website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

        <link href="./assets/css/style.css" rel="stylesheet" type="text/css">

    </head>